body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#films-list {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(26, 75, 169, 0.1);
}

#form-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    color: #000000;
}

input[type="text"] {
    width: calc(100% - 24px);
    margin-bottom: 15px;
    padding: 12px;
    font-size: 16px;
    border: 1.7px solid #441054;
    border-radius: 6px;
}

button {
    display: block;
    width: calc(100% - 20px);
    padding: 12px;
    font-size: 16px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button + button {
    margin-top: 15px;
}
